<div *ngIf="student" class="students">
    <h2>{{student.firstname | uppercase}} Details</h2>
    <div><span>Email: </span>{{student.email}}</div>
    <div><span>Level: </span>{{student.level}}</div>
    <div><span>ClassRoom: </span>{{student.room}}</div>
    <div><span>School: </span>{{student.school}}</div>
    <div><span>Update Date: </span>{{student.updated_at | date}}</div>
    <div>
      <button routerLink="/studentsupdate/{{student._id}}">
        Edit
      </button>
    </div>
  </div>
